/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles for body */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;  
}

/* Main content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    background-color: lightblue;
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
}

h1#logo {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    color: #000;
    text-align: center;
    margin: 20px 0;
}
/* Main content background */
main {
    background-color: lightblue;
}

/* Footer background */
footer {
    background-color: #ffffff;
}